{% extends "base.html.twig" %}
{% block title %}Todo | Edit{% endblock %}

{% block body %}
    <h1>Edit Todo</h1>
    
    <div class="container w-50">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>
{% endblock %}