{% extends 'base.html.twig' %}

{% block title %}Todo | Home{% endblock %}

{% block body %}
    <div class="container">
        {% for todo in todos %}
            {% include "components/card.html.twig" %}
        {% endfor %}
    </div>
{% endblock %}
